
.container {
  padding: 10px;
  background-color: rgba(121, 2, 212, 0.797);
  border-color:white;
  border-style: solid;
  position: absolute;
  left: 5%;
  top: 2%;
  width: 90%;
  border-radius: 10px;
}
.todoContainer {
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
  }
  
  .todoCreateForm {
    display: flex;
    gap: 5px;
  }
  
  .todoInput {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #000000;
  }
  
  .buttonCreate {
    border: none;
    border-radius: 3px;
    background-color: rgb(26, 76, 169);
    color: white;
    border: 1px;
    border-color:white;
    border-style: solid;
    padding: 10px 20px;
  }
  
  .todosContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  
  .todo {
    padding: 10px;
    min-width: 99%;
    width: max-content;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
  }
  
  .todoTitle {
    flex: 1;
    font-size: 20px;
  }
  .todoUpdateForm,
  .todoInfo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .button {
    border: none;
    border-radius: 3px;
    background-color: rgb(42, 122, 221);
    color: white;
    padding: 10px 20px;
  }
  
  .buttonDelete {
    border: none;
    border-radius: 3px;
    background-color: rgb(169, 26, 26);
    color: white;
    padding: 10px 20px;
  }